@media screen and (min-width: 220px) {
.wrapper {
    display: flex;
    flex-direction: column;
}

.loadBtn {
font-weight: 500;
font-size: 14px;
line-height: 129%;
background-color: var(--accentBtn);
margin: 0 auto;
border: none;
border-radius: 12px;
padding: 16px 48px;
width: 183px;
height: 60px;
margin-bottom: 96px;
}
}

@media screen and (min-width: 734px) {
   
.list {
    display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 24px;
}
}