@media screen and (min-width: 220px) {
.contentContainer {
    max-width: 320px;
    padding: 0 14px;
    margin: 0 auto;
	overflow: hidden;
    height: auto;
}
}

@media screen and (min-width: 734px) {
   .contentContainer {
    max-width: 734px;
    padding: 0 34px;
   
}
}
@media screen and (min-width: 735px) {

.contentContainer {
    max-width: 1234px;
    padding: 0 64px;
   
}
}

@media screen and (min-width: 1440px) {

.contentContainer {
    max-width: 1440px;
    padding: 0 64px;
   
}
}