

@media screen and (min-width: 220px) {
.pageWrapper {
     display: flex;
    flex-direction: column;
   
}
}
@media screen and (min-width: 834px) {
   
}

@media screen and (min-width: 1440px) {
.pageWrapper {
    margin: 96px 64px;
    max-width: 1440px;

}

}