

@media screen and (min-width: 220px) {
    .itemCard {
    border-radius: 24px;
padding: 24px;
width: 292px;
height: auto;
background: var(--accentBg);
margin-bottom: 32px;
display: flex;
flex-direction: column;
align-items: center;
gap: 48px;
position: relative;
}
.avatarBorder {
    border: 3px solid var(--accentBtn);
border-radius: 50%;
width: 120px;
height: 120px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}
.avatar {
    border-radius: 50%;
width: 96px;
height: 96px;
object-fit: cover;
}
.avatarBorder::after {
    content: '';
    position: absolute;
    transform: translate(-25%, -25%);
    top: 18px;
    right: 20px;
    width: 12px; 
    height: 12px;
    border: 1px solid white; 
    background-color: #38cd3e;
    border-radius: 50%;
}
.infoWrapper {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}
.infoDetails {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}
.lang {
    
display: none;
}
.lessonInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.bookIcon {
    fill: transparent;
    stroke: black;
}
.lessonItem {
    display: flex;
    gap: 8px; 
}
.spanPrice {
    color: #38cd3e;
    font-weight: 500;
font-size: 16px;
}
.spanDeco::before {
    content: ' ';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: rgba(18, 20, 23, 0.2);
}
.likeButton {
    border: none;
    background-color: transparent;
    position: absolute;
  top: 24px;
  right: 24px;
}
.name {
    margin-top: 32px;
font-weight: 500;
font-size: 24px;
line-height: 100%;
margin-bottom: 32px;
}
.basicInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}
.basicInfoItem {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}
.langList {
    display: flex;
    flex-direction: row;
    
}
.basicInfoPh {
    display: flex;
    flex-direction: column;
    font-weight: 500;
font-size: 16px;
line-height: 150%;
}
.langItem {
margin-right: 5px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-decoration: underline;
text-decoration-skip-ink: none;
}

.langItem:not(:last-child)::after {
    content: ',';
    
}
.spanBasicInfo {
    margin-right: 5px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--gray);
}
.toggleExpand {
    text-decoration: underline;
text-decoration-skip-ink: none;
border: none;
background-color: transparent;
font-weight: 500;
font-size: 16px;
line-height: 150%;
padding: 0;
margin-top: 22px;
margin-bottom: 32px;
margin-left: 0px;
margin-right: auto;
}
.levelsList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.levelsItem {
border-radius: 35px;
padding: 8px 12px;
width: auto;
height: 32px;
background-color: var(--accentBtn);
}
.itemCard.expanded {
height: auto;
background-color: var(--accentBg);
}
.experience {
width: 244px;
margin-bottom: 32px;
}
.reviewers {
height: 200px;
gap: 32px;
display: flex;
flex-direction: column;
margin-bottom: 48px;
}
.reviewerBox {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
}
.reviewName {
    margin-bottom: 8px;
}
.rate {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 500;
font-size: 14px;
line-height: 129%;
}
.avatarReviewer {
    border-radius: 60px;
width: 60px;
height: 60px;
display: flex;
background-color: var( --iconColor);
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    color: var(--dark-color);
}
.bookTrialBtn {
   margin-top: 32px;
   margin-bottom: 24px;
   margin-left: 7px;
   border-radius: 12px;
   border: none;
padding: 16px 48px;
width: 232px;
height: 60px;
background-color: var(--accentBtn);
font-weight: 700;
font-size: 16px;
line-height: 156%;
}
.svg_heart {
   fill: transparent;
  stroke: var(--dark-color);
}

.svg_heart_red {
  fill: rgb(245, 6, 6);
  stroke: rgb(245, 6, 6);
}
.spanDeco::before {
    display: none;
}
}

@media screen and (min-width: 768px) {
    .itemCard {
width: 700px;
height: 670px;
}

.infoWrapper {
display: flex;
flex-direction: column;
}


.lessonInfo {
    flex-wrap: wrap;
    flex-direction: row;
}

.basicInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}
.basicInfoItem {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}
.langList {
    display: flex;
    flex-direction: row;
    
}

.langItem {
margin-right: 5px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-decoration: underline;
text-decoration-skip-ink: none;
}

.langItem:not(:last-child)::after {
    content: ',';
    
}
.spanBasicInfo {
    margin-right: 5px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--gray);
}
.toggleExpand {
    text-decoration: underline;
text-decoration-skip-ink: none;
border: none;
background-color: transparent;
font-weight: 500;
font-size: 16px;
line-height: 150%;
padding: 0;
margin-top: 0px;
margin-bottom: 32px;
margin-left: 0px;
margin-right: auto;
}
.levelsList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.levelsItem {
border-radius: 35px;
padding: 8px 12px;
width: auto;
height: 32px;
background-color: var(--accentBtn);
}
.itemCard.expanded {
height: auto;
width: 700;
background-color: var(--accentBg);
}
.experience {
width: 652px;
margin-bottom: 32px;
}

.bookTrialBtn {
   margin-left: 0px;
   margin-bottom: 0px;
}
   
}

@media screen and (min-width: 1440px) {
.itemCard {
width: 1184px;
height: 328px;
flex-direction: row;
}
.avatarBorder {
align-self: flex-start;
}
.infoWrapper {
display: flex;
flex-direction: column;
}
.infoDetails {
    flex-direction: row;
    justify-content: space-between;
}
.lang {
    display: block;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--gray);
}
.lessonInfo {
    
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 169px;
}

.lessonItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px; 
}
.spanPrice {
    color: #38cd3e;
    font-weight: 500;
font-size: 16px;
}
.spanDeco::before {
    content: ' ';
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: rgba(18, 20, 23, 0.2);
}
.likeButton {
    margin-left: 64px;
    border: none;
    background-color: transparent;
    position: static;
}
.name {
    margin-top: 0px;
font-weight: 500;
font-size: 24px;
line-height: 100%;
margin-bottom: 32px;
}
.basicInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;
}
.basicInfoItem {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}
.langList {
    display: flex;
    flex-direction: row;
    
}
.basicInfoPh {
    display: flex;
    flex-direction: row;
    font-weight: 500;
font-size: 16px;
line-height: 150%;
}
.langItem {
margin-right: 5px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
text-decoration: underline;
text-decoration-skip-ink: none;
}

.langItem:not(:last-child)::after {
    content: ',';
    
}
.spanBasicInfo {
    margin-right: 5px;
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--gray);
}
.toggleExpand {
    text-decoration: underline;
text-decoration-skip-ink: none;
border: none;
background-color: transparent;
font-weight: 500;
font-size: 16px;
line-height: 150%;
padding: 0;
margin-top: 0px;
margin-bottom: 32px;
margin-left: 0px;
margin-right: auto;
}
.levelsList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.levelsItem {
border-radius: 35px;
padding: 8px 12px;
width: auto;
height: 32px;
background-color: var(--accentBtn);
}
.itemCard.expanded {
height: auto;
width: 1184px;
background-color: var(--accentBg);
}
.experience {
width: 968px;
margin-bottom: 32px;
}

.bookTrialBtn {
   margin-left: 0px;
   margin-bottom: 0px;
}
}


